<div class="container" style="margine:0 auto;">
<h1>Artículos</h1>
    <div class="row">
        <%= render @articles %>
    </div>
    <div class="top-space">
        <%= will_paginate @articles %>
    </end>
</div>