<% @articles.each do |article| %>
    
    <h1><%= link_to article.title, article%></h1>
    <div>
        <%= article.body%> - <%= link_to "Eliminar", article, class:"red", method: :delete %> - 
        <%if article.may_publish?%>
        <%= link_to "Publicar", "/articles/#{article.id}/publish", class:"blue", method: :put %>
        <%end%>
    </div>
<%end%>